<div id="<%= dom_id(task) %>">

<h2 class="<%= task.completed? ? 'completed' : 'not_completed' %>">
  <%= check_box_tag :completed, 1, task.completed,
        :onclick => remote_function(
                      :url => task_path(task), 
                      :method => 'put',
                      :with => "'task[completed]=' + this.checked")%>
  <%= link_to task.title, edit_task_path(task) %>
</h2>
<p><%= task.completed? ? 'Splněno' : 'Nesplněno' %></p>

<hr />

</div>